Úkol můžeš odevzdat buďto jako Jupyter Notebook .ipynb, nebo jako klasický program .py.

Stáhni si soubor temperature.csv, který obsahuje informace o průměrné teplotě v různých městech v listopadu 2017.

Vypiš si prvních několik řádků, ať si prohlédneš strukturu tabulky.

Dále napiš následující dotazy:

Dotaz na měření, která byla provedena v Praze. Je na datech něco zvláštního? Napadá tě, čím to může být? Zde je nápověda.
Dotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.
Dotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).
Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než -20 stupňů.

In [2]:
import pandas
temperature = pandas.read_csv("temperature.csv")
temperature.head()

   Region  Country     City  Day  AvgTemperature
0  Africa  Algeria  Algiers    1            62.0
1  Africa  Algeria  Algiers    2            62.2
2  Africa  Algeria  Algiers    3            65.7
3  Africa  Algeria  Algiers    4            69.8
4  Africa  Algeria  Algiers    5            63.8

In [4]:
temperature.shape

(8790, 5)

In [10]:
praha=temperature[temperature["City"]=="Prague"]
praha.head

<bound method NDFrame.head of       Region         Country    City  Day  AvgTemperature
2100  Europe  Czech Republic  Prague    1            43.5
2101  Europe  Czech Republic  Prague    2            48.5
2102  Europe  Czech Republic  Prague    3            44.4
2103  Europe  Czech Republic  Prague    4            39.7
2104  Europe  Czech Republic  Prague    5            40.6
2105  Europe  Czech Republic  Prague    6            42.3
2106  Europe  Czech Republic  Prague    7            43.5
2107  Europe  Czech Republic  Prague    8            41.4
2108  Europe  Czech Republic  Prague    9            43.8
2109  Europe  Czech Republic  Prague   10            43.0
2110  Europe  Czech Republic  Prague   11            39.5
2111  Europe  Czech Republic  Prague   12            36.7
2112  Europe  Czech Republic  Prague   13            35.8
2113  Europe  Czech Republic  Prague   14            35.5
2114  Europe  Czech Republic  Prague   15            39.1
2115  Europe  Czech Republic  Prague   16            38.5
2116  Europe  Czech Republic  Prague   17            36.6
2117  Europe  Czech Republic  Prague   18            37.0
2118  Europe  Czech Republic  Prague   19            37.5
2119  Europe  Czech Republic  Prague   20            37.0
2120  Europe  Czech Republic  Prague   21            41.3
2121  Europe  Czech Republic  Prague   22            44.6
2122  Europe  Czech Republic  Prague   23            41.8
2123  Europe  Czech Republic  Prague   24            46.2
2124  Europe  Czech Republic  Prague   25            43.3
2125  Europe  Czech Republic  Prague   26            34.6
2126  Europe  Czech Republic  Prague   27            36.1
2127  Europe  Czech Republic  Prague   28            39.3
2128  Europe  Czech Republic  Prague   29            36.9
2129  Europe  Czech Republic  Prague   30            33.7>

In [11]:
osmdesat=temperature[temperature["AvgTemperature"] > 80]
osmdesat.head

<bound method NDFrame.head of              Region Country             City  Day  AvgTemperature
30           Africa   Benin          Cotonou    1            81.7
31           Africa   Benin          Cotonou    2            81.8
32           Africa   Benin          Cotonou    3            83.6
33           Africa   Benin          Cotonou    4            83.4
34           Africa   Benin          Cotonou    5            80.3
...             ...     ...              ...  ...             ...
8011  North America      US      Brownsville    2            80.8
8012  North America      US      Brownsville    3            81.1
8015  North America      US      Brownsville    6            80.5
8042  North America      US   Corpus Christi    3            80.2
8074  North America      US  Dallas Ft Worth    5            80.1

[722 rows x 5 columns]>

In [14]:
evropa_sedesat = temperature[(temperature["AvgTemperature"] > 60) & (temperature["Region"] == "Europe")]
evropa_sedesat.head

<bound method NDFrame.head of       Region   Country       City  Day  AvgTemperature
1932  Europe   Albania     Tirana   13            60.3
2402  Europe     Italy       Rome    3            62.2
2404  Europe     Italy       Rome    5            60.4
2580  Europe  Portugal     Lisbon    1            62.5
2581  Europe  Portugal     Lisbon    2            63.2
2582  Europe  Portugal     Lisbon    3            61.1
2583  Europe  Portugal     Lisbon    4            61.6
2602  Europe  Portugal     Lisbon   23            64.2
2603  Europe  Portugal     Lisbon   24            62.6
2701  Europe     Spain  Barcelona    2            63.8
2702  Europe     Spain  Barcelona    3            63.1
2703  Europe     Spain  Barcelona    4            63.5
2704  Europe     Spain  Barcelona    5            61.6
2730  Europe     Spain     Bilbao    1            62.9
2731  Europe     Spain     Bilbao    2            66.3
2732  Europe     Spain     Bilbao    3            63.8
2751  Europe     Spain     Bilbao   22            62.7
2752  Europe     Spain     Bilbao   23            69.5
2753  Europe     Spain     Bilbao   24            62.5>

In [21]:
extremy = temperature[(temperature["AvgTemperature"] > 80) | (temperature["AvgTemperature"] < -20)]
extremy.head

<bound method NDFrame.head of              Region Country             City  Day  AvgTemperature
30           Africa   Benin          Cotonou    1            81.7
31           Africa   Benin          Cotonou    2            81.8
32           Africa   Benin          Cotonou    3            83.6
33           Africa   Benin          Cotonou    4            83.4
34           Africa   Benin          Cotonou    5            80.3
...             ...     ...              ...  ...             ...
8011  North America      US      Brownsville    2            80.8
8012  North America      US      Brownsville    3            81.1
8015  North America      US      Brownsville    6            80.5
8042  North America      US   Corpus Christi    3            80.2
8074  North America      US  Dallas Ft Worth    5            80.1

[772 rows x 5 columns]>

Vypadá to, že mi to nenašlo ty nízké extrémy, protože má tato tabulka stejný počet řádků, jako ta osmdesat. Tak jsem si zkusila udělat jen ty nízké zvlášť a takto mi to jede. Tak nevím, proč mi to nejde udělat do spojení podmínek. A v těch datech z Gambie odhaduju, že tam je chybně mínus v prům. teplotě.

In [20]:
male = temperature[temperature["AvgTemperature"]<-20]
male.head

<bound method NDFrame.head of                                  Region             Country           City  \
168                              Africa            Ethiopia    Addis Ababa
212                              Africa              Gambia         Banjul
213                              Africa              Gambia         Banjul
214                              Africa              Gambia         Banjul
215                              Africa              Gambia         Banjul
216                              Africa              Gambia         Banjul
217                              Africa              Gambia         Banjul
218                              Africa              Gambia         Banjul
219                              Africa              Gambia         Banjul
220                              Africa              Gambia         Banjul
221                              Africa              Gambia         Banjul
222                              Africa              Gambia         Banjul
223                              Africa              Gambia         Banjul
224                              Africa              Gambia         Banjul
225                              Africa              Gambia         Banjul
226                              Africa              Gambia         Banjul
227                              Africa              Gambia         Banjul
228                              Africa              Gambia         Banjul
229                              Africa              Gambia         Banjul
230                              Africa              Gambia         Banjul
231                              Africa              Gambia         Banjul
232                              Africa              Gambia         Banjul
262                              Africa              Guinea        Conakry
352                              Africa               Kenya        Nairobi
498                              Africa             Namibia       Windhoek
545                              Africa             Nigeria          Lagos
546                              Africa             Nigeria          Lagos
547                              Africa             Nigeria          Lagos
548                              Africa             Nigeria          Lagos
549                              Africa             Nigeria          Lagos
550                              Africa             Nigeria          Lagos
551                              Africa             Nigeria          Lagos
552                              Africa             Nigeria          Lagos
553                              Africa             Nigeria          Lagos
554                              Africa             Nigeria          Lagos
555                              Africa             Nigeria          Lagos
556                              Africa             Nigeria          Lagos
557                              Africa             Nigeria          Lagos
558                              Africa             Nigeria          Lagos
559                              Africa             Nigeria          Lagos
560                              Africa             Nigeria          Lagos
561                              Africa             Nigeria          Lagos
562                              Africa             Nigeria          Lagos
563                              Africa             Nigeria          Lagos
564                              Africa             Nigeria          Lagos
565                              Africa             Nigeria          Lagos
1071                               Asia           Indonesia        Jakarta
3119                        Middle East              Kuwait         Kuwait
3913  South/Central America & Carribean  Dominican Republic  Santo Domingo
4370                      North America                  US      Fairbanks

      Day  AvgTemperature
168    19           -99.0
212     3           -99.0
213     4           -99.0
214     5           -99.0
215     6           -99.0
216     7           -99.0
217     8           -99.0
218     9           -99.0
219    10           -99.0
220    11           -99.0
221    12           -99.0
222    13           -99.0
223    14           -99.0
224    15           -99.0
225    16           -99.0
226    17           -99.0
227    18           -99.0
228    19           -99.0
229    20           -99.0
230    21           -99.0
231    22           -99.0
232    23           -99.0
262    23           -99.0
352    23           -99.0
498    19           -99.0
545     6           -99.0
546     7           -99.0
547     8           -99.0
548     9           -99.0
549    10           -99.0
550    11           -99.0
551    12           -99.0
552    13           -99.0
553    14           -99.0
554    15           -99.0
555    16           -99.0
556    17           -99.0
557    18           -99.0
558    19           -99.0
559    20           -99.0
560    21           -99.0
561    22           -99.0
562    23           -99.0
563    24           -99.0
564    25           -99.0
565    26           -99.0
1071   22           -99.0
3119   30           -99.0
3913   14           -99.0
4370   21           -20.7  >